<div id="header">
	<nav>
		<ul>
			<img src="http://marketing.technologo.com/sites/default/files/pictures/vSample.png">
			<li>CONTACT</li>
			<li>ABOUT</li>
			<li>HOME</li>
		</ul>
	</nav>
	<div id="header-text">
		<h1> Smart Hire Pro</h>
		<h3> Hiring made easy </h3>
		<div id="header-text-2">
			<p> <span style="color:#d4d4d4">Smart Recruiting Software </span> for business and teams craving to <span style="color:#d4d4d4">  Hire Best Talents </span> </p>
			<text style=color:white> Leave us your email and get invited once we're live. </text>
			<div id="email-form">
				<input type="text" name="" placeholder="Enter your email...">
				<button> Get Invited </button>
			</div>
		</div>
	</div>
</div>

<div id='content' >
	<div class="feature-box">
		<img class="feature-image" src="/assets/user_interface.png">
		<div class="feature-description">
			<h2 class="feature-title" style='color:#0495c8'> Marvellous User Experience </h2>
			<p class="feature-detail">We offer a very <b> Beautiful and Easy </b> to use Interface that purveys the best user experience. We make sure you get <b> More Value </b> with <b> Less Effort </b> using our Fast, Clean and Easy navigation. </p>
		</div>
	</div>	

	<div class="feature-box" style="background-color:#f6f6f6;">
		<div class="feature-description">
			<h2 class="feature-title" style='color:#ff6c43'> Easy way to track your applicant's progress </h2>
			<p class="feature-detail"> Create multiple <b> Phases of Selection Process </b> that suits best for your hiring requirements. You can push your applicants from one <b> Phase </b> to another untill they get hired.</p>
		</div>
		<img class="feature-image" src="assets/phases.png">
	</div>	

	<div class='parallex-window' data-parallax="scroll" data-image-src="assets/header.jpg">
		<div class="middle-box-wrapper">
			<h1> '' Never miss out on great colleagues because time was not right '' </h1>
		</div>		
	</div>		

	<div class="feature-box">
		<img class="feature-image" src="/assets/job_titles.png">
		<div class="feature-description">
			<h2 style='color: #ffb643' class="feature-title"> Job Titles according to your needs </h2>
			<p class="feature-detail"> <b> Create </b> any number of <b> Job Titles </b> that categorizes your applicants. We make sure all your <b> Applicants </b> regardless of their job titles have to go through all the phases of the <b> Selection Process </b>. </p>
		</div>
	</div>	

	<div class="feature-box" style="background-color:#f6f6f6;">
		<div class="feature-description">
			<h2 style='color:#0495c8' class="feature-title"> Store and Access your data Anytime Anywhere </h2>
			<p class="feature-detail"> With our <b> Cloud Based Platform </b>, you will be able to access your applicant's data from anywhere and anytime. You no longer	 have to worry about your <b> Previous Potential Applicants </b>. We make sure that you remember them later. </p>
		</div>
		<img class="feature-image" src="assets/cloud_based.png">
	</div>	

	<div class='middle-box'>
		<div class="middle-box-wrapper">
			<h1> Already in love with Smart Hire Pro ? </h1>
			<text style=color:white> Leave us your email and get invited once we're live. </text>
			<div id="email-form">
				<input type="text" name="" placeholder="Enter your email...">
				<button> Get Invited </button>
			</div>
		</div>		
	</div>		

<div id="footer" style="margin-top:0px;">
	<text class="footer"> &#169 2017 Jyaasa </text> <br>
	<text class="footer"> All rights reserved </text> <br>
	<text class="footer"> Further details: jyassa@gmail.com </text>

</div>	

</div>




<script>
	window.sr = ScrollReveal({});
	sr.reveal('.feature-box', { duration: 2000 });
	sr.reveal('.middle-box-wrapper', { duration: 2000 });	
	sr.reveal('#header-text', { duration: 1000 });
</script>