	<div id="header">
		<nav>
			<ul>
				<li>HOME</li>
				<li>ABOUT</li>
				<li>CONTACT</li>
			</ul>
		</nav>
		<div id="header-text">
			<h1> Smart Hire Pro </h1>
			<h3> Hiring made easy </h3>
			<div id="header-text-2">
				<p>Smart Recruiting Software for business and teams craving to hire best talents</p>
				<span style=color:white> Leave us your email and we'll get back to you </span>
				<input type="text" name="" placeholder="Enter your email...">
				<button> Enter </button>
			</div>
		</div>
	</div>
	

<script>
	$(window).scroll(function(event){

	  var yOffset = window.pageYOffset;
	  var breakpoint = 50;
	  if (yOffset > breakpoint){
	    $("nav ul").addClass('active');
	  }else{
	    $("nav ul").removeClass('active');
	  }

	});
</script>