<div id="header">
	<nav>
		<ul>
			<img src="http://marketing.technologo.com/sites/default/files/pictures/vSample.png">
			<li>CONTACT</li>
			<li>ABOUT</li>
			<li>HOME</li>
		</ul>
	</nav>
	<div id="header-text">
		<h1> Smart Hire Pro</h>
		<h3> Hiring made easy </h3>
		<div id="header-text-2">
			<p>Smart Recruiting Software for business and teams craving to hire best talents</p>
			<span style=color:white> Leave us your email and get invited once we're live. </span>
			<div id="email-form">
				<input type="text" name="" placeholder="Enter your email...">
				<button> Get Invited </button>
			</div>
		</div>
	</div>
</div>




<script>
	$(window).scroll(function(event){

	  var yOffset = window.pageYOffset;
	  var breakpoint = 50;
	  if (yOffset > breakpoint){
	    $("nav ul").addClass('active');
	  }else{
	    $("nav ul").removeClass('active');
	  }

	});
</script>