<% if user_signed_in? %>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
    <span class="glyphicon glyphicon-menu-hamburger"></span></button>
    <ul class="dropdown-menu">
      <li class="active"><a href="#">Phases</a></li>
      <li><a href="#">Jobs/Posts</a></li>
      <li><a href="#">New Applicants</a></li>
      <li><a href="#">Hired List</a></li>
      <li><a href="#">Short List</a></li>
    </ul> 
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
    <span class="glyphicon glyphicon-plus"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Add New Candidates</a></li>
      <li><a href="#">Add New Jobs/Posts</a></li>
      <li><a href="#">Add New Phase</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><i class="fa fa-user-o" aria-hidden="true"></i><%= link_to 'Edit Settings', edit_user_registration_path %></li>
      <li><i class="fa fa-sign-out" aria-hidden="true"></i><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
</nav>
  <%= render 'shared/flash_messages' %>
<% else %>
    <div class="container">
        <!-- <img src="/app/assets/images/logo.jpg" alt="Logo"> -->
        <h1><a href="/">RMS</a></h1>
    </div>

<% end %>
