#header{
	position:absolute;
	color:white;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	overflow:hidden;
	background-color:black;
	background-image:url('https://ikushum.herokuapp.com/static/img/cover4.jpg');
	background-position:center;
	background-repeat:no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	display:block;
	z-index:0;
	background-image: url('header.jpg');
	text-align:center;
	font-family:helvetica;

	#header-text{
		position: relative;
		top: 40%;
		transform: translateY(-40%);

		h1{
			margin:0;
			font-size:80px;	
			font-weight:bold;		
		}

		h3{
			margin-top:0;
			font-weight:bold;		
		}

		p{
			font-size:20px;
			margin:10px 15% 10px 15%;
			color:#a5a5a5;
			font-weight:bold;		
		}

		span{
			font-size:19px;
		}

		#header-text-2{
			background:rgba(0,0,0,0.5);
			width:50%;
			padding:20px 20px;
			margin:0 auto;
			border-radius:20px;
		}

		input{
			color:black;
			width:80%;
			padding:10px;
			margin-top:10px;
		}

		button{
			background-color:blue;
			color:white;
			border:none;
			padding:14px;
			border-radius:10px;
			width:100px;
		}
	}

	nav{
		ul{
		  position:fixed;
		  z-index:1000;
		  width:100%;
		  color:white;
		  list-style:none;
		  -webkit-transition:.5s;
		  -moz-transition:.5s;
		  transition:.5s;
		  text-align:right
		}
		 ul.active{
		  background:rgba(0,0,0,0.5);
		  color:#fff;
		}
		 ul li{
		  display:inline-block;
		  padding:20px 30px;
		}
		section{
		  padding:100px 50px 50px;
		  line-height:140%;
		}	

	}

}