#header{
	position:absolute;
	color:white;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	overflow:hidden;
	background-color:black;
	background-image:url('https://ikushum.herokuapp.com/static/img/cover4.jpg');
	background-position:center;
	background-repeat:no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	display:block;
	z-index:0;
	background-image: url('header.jpg');
	text-align:center;
    font-family: 'Raleway', sans-serif;	

	#header-text{
		position: relative;
		top: 40%;
		transform: translateY(-40%);

		h1{
			margin:0;
			font-size:60px;	
			font-weight:bold;	
		}

		h3{
			margin-top:0;
			font-weight:bold;	
			font-size:20px;
    		font-family: 'Raleway', sans-serif;
		}

		p{
			font-size:20px;
			margin:0px 15% 10px 15%;
			color:#a5a5a5;
			font-weight:bold;		
			font-family: 'Raleway', sans-serif;
		}

		span{
			font-size:15px;
			margin-bottom:10px;
		}

		#header-text-2{
			background:rgba(0,0,0,0.5);
			width:50%;
			padding:20px 20px;
			margin:0 auto;
			border-radius:20px;
		}

		#email-form{
			margin-top:10px;

			input{
				color:white;
				width:60%;
				padding:0px 20px;
			  	background:rgba(255, 255, 255, 0.3);	
			  	border:none;	
			  	height:45px;
			  	vertical-align:top;
			  	display:inline-block;
			  	border-top-left-radius: 10px;
			  	border-bottom-left-radius: 10px;			  	
			}

			button{
				background-color:#00509e;
				color:white;
				border:none;
				padding:14px;
				height:45px;
			  	display:inline-block;
			  	margin:0 0 2px -4px;
			  	vertical-align:top;
			  	border-top-right-radius: 10px;
			  	border-bottom-right-radius: 10px;	
			  -webkit-transition:.5s;
			  -moz-transition:.5s;
			  transition:.5s;			  					  	
			}

			button:hover{
				background-color:#1958b4;			
			}
		}
	}

	nav{

		img{
			display:inline-block;
			float:left;
			padding:20px 30px;
			width:200px;
		}

		ul{
		  position:fixed;
		  z-index:1000;
		  width:100%;
		  color:white;
		  list-style:none;
		  -webkit-transition:.5s;
		  -moz-transition:.5s;
		  transition:.5s;
		  padding:0;
		}
		ul.active{
		  background:rgba(0,0,0,0.5);
		  color:#fff;
		}
		ul li{
		  display:inline-block;
		  padding:20px 30px;
		  float:right;
		}
		section{
		  padding:100px 50px 50px;
		  line-height:140%;
		}	

	}

}

#about {
	
	h1{
		text-align:center;
	}
}